---
layout: default_ru
permalink: /ru/video/
l10n: /en/video
---

<div class="clearfix videos">
  <h2 id="live" class="section-title">Видеозаписи концертов</h2>
{% for post in site.categories.concert  %}
{% if post.video == true %}
{% if post.lang == 'ru' %}
  <a href="{{ site.baseurl }}{{ post.url }}" class="item {{ post.type }}" data-year="{{ post.year }}">
    <div class="image" style="background-image:url({{ post.thumbnail }})"></div>
    <h2>{{ post.title }}</h2>
    <div class="description">{{ post.description }}</div>
    <div class="teaser">{{ post.teaser }}</div>
  </a>
{% endif %}
{% endif %}
{% endfor %}
</div>
<div class="clearfix videos">
  <h2 id="other" class="section-title">Другое</h2>
{% for post in site.categories.video  %}
{% if post.lang == 'ru' %}
  <a href="{{ site.baseurl }}{{ post.url }}" class="item {{ post.type }}" data-year="{{ post.year }}">
    <h2>{{ post.title }}</h2>
    <div class="description">{{ post.description }}</div>
    <div class="teaser">{{ post.teaser }}</div>
  </a>
{% endif %}
{% endfor %}
</div>
<script>
$('li.video a').addClass('active');
$('dl.video').show();
document.title = "Видео | Антон Батагов";
</script>