---
layout: default
permalink: /records/
---

<div class="clearfix timeline">

{% for post in site.categories.records  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
    <ul>
    {% endif %}
    <div class="record feature">
    <div class="keyline-all pad2">
    <div class="image" style="background-image:url({{ post.thumbnail }})"></div>
    <h3>{{ post.title }}</h3>
    <small>{{ post.description }}</small>
	</div>
	<div>
    {% if forloop.last %}
    </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
        <ul>
        {% endif %}
    {% endif %}
{% endfor %}

</div>