---
layout: default
permalink: /records/
---

<div class="clearfix timeline">

{% for post in site.categories.records  %}
    {% capture this_year %}{{ post.year }}{% endcapture %}
    {% capture next_year %}{{ post.previous.year }}{% endcapture %}

    {% if forloop.first %}
	<a href="{{ site.baseurl }}{{ post.url }}">
		<div class="record feature">
    		<div class="keyline-all pad2">
    			<div class="image" style="background-image:url({{ post.thumbnail }})"></div>
    			<h3>{{ post.title }}</h3>
    			<small>{{ post.description }}</small>
			</div>
		</div>
	</a>
	{% else %}
	<a href="{{ post.url }}">
    	<div class="record normal">
    		<div class="keyline-all pad2">
    			<div class="image" style="background-image:url({{ post.thumbnail }})"></div>
    			<h3>{{ post.title }}</h3>
    			<small>{{ post.description }}</small>
			</div>
		</div>
	</a>
	{% endif %}
    {% if forloop.last %}
    <h2 class="year year-{{ this_year }} center">{{this_year}}</h2>
    {% else %}
        {% if this_year != next_year %}
        <h2 class="year year-{{ this_year }} center">{{this_year}}</h2>
        {% endif %}
    {% endif %}
{% endfor %}

</div>