---
layout: default_ru
permalink: /ru/words/
l10n: /en/selected-reviews/
---
<div class="clearfix words">
  <h2 id="text" class="section-title">Избранные тексты А.Б.</h2>
  {% for post in site.categories.words  %}
  {% if post.type == 'text' and post.lang == 'ru' %}
	<a href="{% if post.redirect %}{{ post.redirect }}{% else %}{{ site.baseurl }}{{ post.url }}{% endif %}" class="item {{ post.type }}" class="item {{ post.type }}" data-year="{{ post.year }}">
    	<div class="article">
        <div class="title">{{ post.title }}</div>
        <div class="subtitle">{{ post.subtitle }}</div>
      </div>
      <div class="post-year">{{ post.year }}</div>
	</a>
  {% endif %}
  {% endfor %}
</div>
<div class="clearfix words">
  <h2 id="about" class="section-title">Избранные тексты про А.Б.</h2>
  {% for post in site.categories.words  %}
  {% if post.type == 'about' and post.lang == 'ru' %}
  <a href="{% if post.redirect %}{{ post.redirect }}{% else %}{{ site.baseurl }}{{ post.url }}{% endif %}" class="item {{ post.type }}" data-year="{{ post.year }}">
      <div class="article">
        <div class="title">{{ post.title }}</div>
        <div class="subtitle">{{ post.subtitle }}</div>
      </div>
      <div class="post-year">{{ post.year }}</div>
  </a>
  {% endif %}
  {% endfor %}
</div>
<div class="clearfix words">
  <h2 id="interview" class="section-title">Избранные интервью</h2>
  {% for post in site.categories.words  %}
  {% if post.type == 'interview' and post.lang == 'ru' %}
  <a href="{% if post.redirect %}{{ post.redirect }}{% else %}{{ site.baseurl }}{{ post.url }}{% endif %}" class="item {{ post.type }}" class="item {{ post.type }}" data-year="{{ post.year }}">
      <div class="article">
        <div class="title">{{ post.title }}</div>
        <div class="subtitle">{{ post.subtitle }}</div>
      </div>
      <div class="post-year">{{ post.year }}</div>
  </a>
  {% endif %}
  {% endfor %}
</div>
<div class="clearfix words">
  <h2 id="other" class="section-title">Другое</h2>
  {% for post in site.categories.words  %}
  {% if post.type == 'other' and post.lang == 'ru' %}
  <a href="{% if post.redirect %}{{ post.redirect }}{% else %}{{ site.baseurl }}{{ post.url }}{% endif %}" class="item {{ post.type }}" class="item {{ post.type }}" data-year="{{ post.year }}">
      <div class="article">
        <div class="title">{{ post.title }}</div>
        <div class="subtitle">{{ post.subtitle }}</div>
      </div>
      <div class="post-year">{{ post.year }}</div>
  </a>
  {% endif %}
  {% endfor %}
</div>
<script>
$('body').addClass('words-list');
$('li.words a').addClass('active');
$('dl.words').show();
</script>