<!DOCTYPE html>
<html>
	<head>
		<title>Anton Batagov</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/page-player.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- special IE-only canvas fix -->
		<!--[if IE]><script type="text/javascript" src="{{ site.baseurl }}/assets/js/excanvas.js"></script><![endif]-->
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/soundmanager2.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/page-player.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>
	</head>
	<body>
		<section id="logo">
			<span class="description"> 
				Anton Batagov
			</span>
			<span class="caption">composer / pianist / electronic musician</span>
			<ul class="menu">
				<li class="discography"><a href="{{ site.baseurl }}/en/records">Discography</a></li>
				<li class="live"><a href="{{ site.baseurl }}/en/live">Live</a></li>
				<li class="words"><a href="{{ site.baseurl }}/en/words">Words</a></li>
				<li class="life"><a href="{{ site.baseurl }}/en/life">Life</a></li>
				<li class="photos"><a href="{{ site.baseurl }}/en/photos">Photos</a></li>
			</ul>
			<dl class="discography sub">
  				<dd><a href="#all" data-menu="*">All</a></dd>
  				<dd><a href="#composer" data-menu="composer">Composer</a></dd>
  				<dd><a href="#performer" data-menu="performer">Performer</a></dd>
			</dl>
			<dl class="live sub">
  				<dd><a href="#all" data-menu="*">All</a></dd>
  				<dd><a href="#video" data-menu="video">Video</a></dd>
  				<dd><a href="#audio" data-menu="audio">Audio</a></dd>
			</dl>
			<dl class="words sub">
  				<dd><a href="#all" data-menu="*">All</a></dd>
  				<dd><a href="#video" data-menu="texts">by A.B.</a></dd>
  				<dd><a href="#audio" data-menu="about">about A.B.</a></dd>
  				<dd><a href="#audio" data-menu="interviews">Interviews</a></dd>
  				<dd><a href="#audio" data-menu="others">Others</a></dd>
			</dl>
		</section>