<!DOCTYPE html>
<html>
	<head>
		<title>Anton Batagov</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/page-player.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/js/libs/galleria/themes/folio/galleria.folio.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- special IE-only canvas fix -->
		<!--[if IE]><script type="text/javascript" src="{{ site.baseurl }}/assets/js/excanvas.js"></script><![endif]-->
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/soundmanager2.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/libs/galleria/galleria.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/libs/galleria/themes/folio/galleria.folio.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/page-player.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>
	</head>
	<body>
		<section id="logo">
			<span class="description"> 
				Anton Batagov
			</span>
			<span class="caption">composer / pianist / electronic musician</span>
			<ul class="menu">
				<li><a href="{{ site.baseurl }}/en/records" class="active">Discography</a></li>
				<li><a href="{{ site.baseurl }}/en/videos">Videos</a></li>
				<li><a href="{{ site.baseurl }}/en/news">News</a></li>
				<li><a href="{{ site.baseurl }}/en/words">Words</a></li>
				<li><a href="{{ site.baseurl }}/en/life">Life</a></li>
				<li><a href="{{ site.baseurl }}/en/photos">Photos</a></li>
				<li><a href="{{ site.baseurl }}/en/links">Links</a></li>
			</ul>
			<dl class="discography sub">
  				<dd><a href="{{ site.baseurl }}/en/records#all" data-menu="all">All</a></dd>
  				<dd><a href="{{ site.baseurl }}/en/records#composer" data-menu="composer">Composer</a></dd>
  				<dd><a href="{{ site.baseurl }}/en/records#performer" data-menu="performer">Performer</a></dd>
			</dl>
		</section>