<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} | Антон Батагов</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/page-player.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- special IE-only canvas fix -->
		<!--[if IE]><script type="text/javascript" src="{{ site.baseurl }}/assets/js/excanvas.js"></script><![endif]-->
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/soundmanager2.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/page-player.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>
	</head>
	<body class="not-front ru">
		<nav class="navbar" role="navigation">
  		<div class="container">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="{{ site.baseurl }}/ru">Антон Батагов</a>
		    </div>
		    <div class="navbar-container">
		    	<ul class="nav navbar-nav">
		    		<li class="discography"><a href="{{ site.baseurl }}/ru/records">Дискография</a></li>
		    		<li class="concerts"><a href="{{ site.baseurl }}/ru/concerts">Концерты</a></li>
		    		<li class="audio"><a href="{{ site.baseurl }}/ru/audio">Аудио</a></li>
						<li class="video"><a href="{{ site.baseurl }}/ru/video">Видео</a></li>
						<li class="photos"><a href="{{ site.baseurl }}/ru/photos">Фото</a></li>
						<li class="words"><a href="{{ site.baseurl }}/ru/words">Слова</a></li>
						<li class="life"><a href="{{ site.baseurl }}/ru/life">Жизнь</a></li>
						<li class="l10n">
							<a href="{% if page.l10n %}{{ site.baseurl }}{{ page.l10n }}{% else %}{{ site.baseurl }}{% endif %}">English</a>
						</li>
		    	</ul>
		    </div>
		  </div>
		</nav>
		<nav class="submenu ru">
			<dl class="discography sub">
				<dd>→</dd>
				<dd><a href="{{ site.baseurl }}/ru/records#all" data-menu="*">Все</a></dd>
  			<dd><a href="{{ site.baseurl }}/ru/records#composer" data-menu="composer">Музыка АБ</a></dd>
  			<dd><a href="{{ site.baseurl }}/ru/records#performer" data-menu="performer">Музыка других композиторов</a></dd>
			</dl>
			<dl class="video sub">
				<dd>→</dd>
				<dd><a href="{{ site.baseurl }}/ru/video#live" data-menu="live">Видеозаписи концертов</a></dd>
  			<dd><a href="{{ site.baseurl }}/ru/video#other" data-menu="other">Другое</a></dd>
			</dl>
			<dl class="words sub">
				<dd>→</dd>
				<dd><a href="{{ site.baseurl }}/ru/words#text" data-menu="text">Тексты А.Б.</a></dd>
  			<dd><a href="{{ site.baseurl }}/ru/words#about" data-menu="about">Тексты про А.Б.</a></dd>
  			<dd><a href="{{ site.baseurl }}/ru/words#interview" data-menu="interview">Интервью</a></dd>
  			<dd><a href="{{ site.baseurl }}/ru/words#other" data-menu="other">Другое</a></dd>
			</dl>
		</nav>