* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 400 14px/1.6 "Open Sans", sans-serif;
  margin: 0px auto;
  padding: 0;
  color: #fff;
  background:#000;
  width: 980px;
  min-width: 980px;
}

body.not-front {
  width: 780px;
  min-width: 780px; 
}

h1, h2, h3 {
  margin: 5px 0;
  font-weight: normal;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

p em {
  font-style: italic;
  color: #fff;
}

p {
  margin: 20px 0;
}

strong {
  color: #474747;
}

.inner {
  margin-top: 100px;
}

#content {
  margin-left: 460px;
  width: 550px;
  padding: 0px 20px;
}

body.not-front #content {
  margin-left: 0px;
  width: 780px;
  padding: 0px;
}

section section p {
  width: 60%;
}

h2 {
  margin-top: 80px;
  font-weight: bold;
}
blockquote {
	font-size: 18px;
	line-height: 23px;
}

h3 {
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 5px;
  font-weight: bold;
}

/* links */

a {
  color: #d3d3d3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a {
  font-size: 12px;
  color: #7B838A;
}

/* main */

div.main {padding-top: 30px;}
div.main img {width: 400px;}
div.main {text-align: center;}
div.main a {text-decoration: none;}
div.main .teaser {
  clear: both;
  font-weight: 100;
}
div.main a {
  padding-bottom: 50px;
  display: block;
}
div.main a h1 {
  font-size: 23px;
  padding: 6px 0;
}
div.main a div.description {
  float: none;
  padding-bottom: 8px;
  width: 100%;
}

/* logo */

#logo {
  margin-top: 180px;
  margin-bottom: 180px;
  width: 400px;
  -webkit-font-smoothing: antialiased;
  position:	fixed;
}

#logo .description {
  position: relative;
  top: -5px;
  font: 200 58px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #a3a3a3;
  line-height: .75;
}

#logo .caption {
  font: 200 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: .75;
  text-transform: uppercase;
  width: 500px;
  display: block;
  padding-top: 2px;
}

#logo em {
  font-style: normal;
  font-weight: 100;
  font-size: 9px;
  color: #999;
  margin-left: 5px;
}

#logo a:hover {
  text-decoration: none;
  color: #858585;
}

#l10n {position: fixed; bottom: 30px;}
#l10n span.active {color:#d3d3d3;}
#l10n a {color:#858585;}
#l10n img {height: 23px; padding: 3px;-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);filter: grayscale(100%);}
#l10n span.active img {border: 1px dashed #666;}
#l10n a img:hover {border: 1px dashed #666;-webkit-filter: grayscale(0%);-moz-filter: grayscale(0%);filter: grayscale(0%);}

/* secondary page logo */

.inner header {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.9);
  width: 100%;
  height: 55px;
  z-index: 100;
}

.inner.scroll header {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 4px #eee;
}

.inner #logo {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 10px 25px;
  width: auto;
  border-left: none;
}

.inner #logo .express {
  font-size: 25px;
}

.inner #logo em {
  display: none;
}

.inner .description {
  display: none;
}

/* navbar */

nav.navbar {
  background-color: #000;
  margin-bottom: 0px;
  position: relative;
  top: 0px;
  height: 65px;
  padding: 10px 0px;
}
div.navbar-header {
  float: left;
}
div.navbar-header a.navbar-brand {
  font-size: 25px;
  color: #fff;
  padding: 2px 0px 0px 8px;
  font-weight: 100;
  display: block;
}
div.navbar-container {
  float: right;
}
ul.navbar-nav {
  float: right;
  list-style: none;
  padding: 0px;
  font-size: 14px;
}
ul.navbar-nav li {
  float: left;
  position: relative;
  display: block;
}
ul.navbar-nav li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
}
ul.navbar-nav li a.active:after {
  content:" ▾";
  left: 5px;
  position: relative;
}
ul.navbar-nav li.l10n a {
  padding: 2px 10px;
  margin: 0px;
  border: 1px dashed #fff;
  position: relative;
  right: -15px;
}
ul.navbar-nav li a:hover, a.navbar-brand:hover {
  text-decoration: none;
}

nav.submenu {
  position: relative;
  top: 0px;
  height: 30px;
  display: block;
  right: 88px;
}
nav.submenu dl {
  float: right;
  margin: 0px;
}
nav.submenu dd {
  float: left;
  display: block;
}

/* code */

p code {
  background: #efefef;
  border: 1px solid #eaeaea;
  font-family: monaco, monospace;
  font-size: .75em;
  padding: 2px 8px;
  -webkit-border-radius: 3px;
}

pre {
  color: #474747;
  font-size: 14px;
  line-height: 1.4;
  margin: 20px 0;
  padding: 20px;
  background: white;
  border: 1px solid #e7e7e7;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 3px 0 #eee;
  -webkit-border-radius: 3px;
}

pre code {
  font-family: monaco, monospace;
  font-size: .8em;
}

code .comment { color: #888 }
code .init { color: #2F6FAD }
code .string { color: #5890AD }
code .keyword { color: #8A6343 }
code .number { color: #2F6FAD }

/* top button */

.scroll #top {
  opacity: .2;
}

#top {
  line-height: 0;
  background: black;
  -webkit-border-radius: 2px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 8px;
  text-decoration: none;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 300ms;
}

#top:hover {
  opacity: 1;
}

#top img {
  width: 8px;
  height: 5px;
}

/* navigation */

nav {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 100;
}

nav a {
  margin: 0 5px;
  padding-right: 15px;
  border-right: 1px dotted #eee;
}

nav a:last-child {
  border-right: none;
}

nav a.active {
  font-weight: bold;
  color: #474747;
}

/* clearfix */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* boxes */

#boxes {
  background: url(images/hr.png) top center no-repeat;
  margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 12px;
}

.inner #boxes {
  font-size: 13px;
}

#boxes section {
  width: 180px;
  margin: 0 25px;
  float: left;
}

#boxes h3 {
  background: none;
  margin-top: 0;
  padding-top: 0;
}

#boxes section p {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* secondary menu */

#menu {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 105px;
  right: 30px;
  height: 500px;
  text-align: right;
  font-size: 13px;
}

#menu li {
  list-style: none;
}

#menu ul {
  height: 0;
  overflow-y: hidden;
}

#menu ul.active {
  height: auto;
}

#menu > li > a {
  color: #474747;
  font-weight: bold;
}

#menu ul a {
  color: #7B838A;
}

#menu ul a.active {
  color: #259dff;
}

/* applications page */

.application h2 {
  margin: 0;
}

.application {
  background: url(images/hr.png) top center no-repeat;
  padding: 80px 0;
  height: 600px;
  position: relative;
}

.application p {
  float: left;
  width: 30%;
}

.application img {
  float: right;
}

.application .link {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.application .link a {
  margin-left: 4px;
}

/* ipad landscape */

@media all and (max-width: 1200px) {
  #content {
    width: 760px;
  }

  .applications #content,
  .community #content {
    width: 900px;
  }
}

/* ipad portrait */

@media all and (max-width: 768px) {
  #content {
    width: 500px;
  }

  .applications #content,
  .community #content {
    width: 600px;
  }

  .application img {
    width: 60%;
  }

  .application {
    height: 450px;
  }

  #boxes {
    margin-left: 0;
  }

  #boxes section {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
}

/* iphone portrait */

@media all and (max-width: 650px) {
  #logo {
    margin-left: 0;
  }

  #content {
    width: 380px;
  }

  .applications #content,
  .community #content {
    width: 500px;
  }

  section section p {
    width: 100%;
  }

  .application {
    height: 380px;
  }

  .application img {
    width: 60%;
  }

  #boxes {
    margin-left: 0;
  }

  #boxes section {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
}

/*RECORDS*/
.timeline { position:relative; }
.timeline a { color: #777; }
.timeline a:hover { text-decoration:none; }
.timeline:before {
  display:block;
  content:'';
  position:absolute;
  top:20px; bottom:0px; left:80%; width:1px;
  margin:0px 0px 0px -2px;
  background:#666;
  }

.year {
  position:relative;
  margin: 0 71% 100px;
  padding:5px;
  border-radius:4px;
  background:#f0f0f0; color:#777;
  line-height:40px;
  width:100px; height:50px;
  top:20px;
  text-align: center;
  border: 1px dashed #666;
  font-weight:normal;
  }

.pad2 {
	padding: 20px;
}

.records {width: 700px;margin: 20px auto;display:block;}

.records .item .image {top:0px;left:0px;width:100px;height:100px;background-position: 50% 0%;background-repeat: no-repeat;-webkit-background-size: cover;background-size: cover;transition-property: top, left;transition-duration: 1s;transition-timing-function: linear;}
.records .item .image:hover {top:-25px;left:-25px;width:150px;height:150px;position: absolute;z-index: 101;border: 1px #f1f1f1 solid;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;-ms-transition: all 0.5s ease;transition: all 0.5s ease;}
.records .item:hover {z-index:100;}

.record { width:80%; position:relative; margin: 20px 0px; }
a.item:hover {text-decoration:none;}
.record:before {
  display:block;
  content:'';
  position:absolute;
  top:50%; right:10px; left:auto;
  height:0px; width:0px;
  margin:-10px 0px 0px 0px;
  border-left:10px solid #e5e5e5;
  border-right:10px solid transparent;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  }

.record:after {
  display:block;
  content:'';
  position:absolute;
  top:50%; right:0px; left:auto;
  height:8px; width:8px;
  margin:-6px -3px 0px 0px;
  border-radius:50%;
  border:1px solid #666;
  background:#fff;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  }

.record.feature:before {
  border:0px;
  width:65px;
  margin:-2px -5px 0px 0px;
  border-bottom:1px solid #666;
  }
.record .image, .video .image {
  background-position:50% 0%;
  background-repeat:no-repeat;
  background-color:#f0f0f0;
  -webkit-background-size:cover;
          background-size:cover;
  }

.record.feature .image, .video.feature .image {
  margin:0px auto 20px;
  height:370px;
  box-shadow:rgba(0,0,0,0.05) 0px 0px 0px 5px;
  }

.record.normal .image {
  position:absolute;
  left:0px; top:0px; bottom:0px;
  width:120px;
  }

.record.normal > div { padding-left:140px; }

.keyline-all {
	border: 1px solid rgba(0,0,0,0.10);
}

.button.final {
  font-size:15px;
  line-height:25px;
  display:block;
  margin:40px auto 0;
  width: 280px;
  height: 80px;
  padding:20px;
  position:relative;
  }	

ul.menu {
	border-left: 1px solid #666;
	float: left;
}
ul.menu li {
	list-style: none;
}
ul.menu > li > a {
	color: #d3d3d3;
}
ul.menu > li > a.active {
	color: #fff;
}

ul.menu > li > a.active:after {
	content:" →";
  left: 5px;
  position: relative;
}

dl.sub {
	float: left;
	display: none;
}

dl.sub dd a {
	color: #d3d3d3;
}

dl.sub dd.active a {
	font-style: italic;
	color: #d3d3d3;
}

h1.title {
	font: 200 34px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 15px 0;
}
div.prose {
	font: 200 14px/1.6 "Open Sans", sans-serif;
	clear: both;
  max-width: 600px;
  margin: 0px auto;
}

div.prose img {width:100%;}

/*RECORD*/
section#content.record-page, section#content.live-page {
	padding: 15px 20px 0;
  max-width: 600px;
  margin: 0px auto;
}
img.artwork {
	margin: 0px auto;
  display: block;
  max-width: 600px;
	max-height: 100%;
}
ul.playlist {width: 525px;}
ul.playlist li a.audio:after {
	content: "\00a0 \f144";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
ul.playlist li.sm2_paused a.audio:after,
ul.playlist li.sm2_playing a.audio:after {
	content: "";
}
div.description {
	font-weight: 200;
	font-style: italic;
	font-size: 14px;
	width: 400px;
	float: left;
  padding-bottom: 10px;
}
div.links {
	text-align: right;
	float: right;
	width: 150px;
	position: relative;
	top: -30px;
	height: 40px;
}

/* live */

section.live-page iframe { padding-top: 20px; }


/* words */

h2.section-title {margin: 30px 0px 15px;}

section.words-page h2,
section.words-page h3 {
  margin: 20px 0px 10px;
  padding: 0px;
}

a.item {color: #d3d3d3; display: block;}

a.item div.subtitle {
  font-size: 12px;
  font-style: italic;
}

div.article {width:470px; float: left;padding-bottom: 10px;}
div.post-year {float: right;}

.words-page h1.title {
  font-size: 30px;
}

.words-page div.subtitle {
  font-weight: 200;
  font-style: italic;
  font-size: 16px;
  width: 780px;
  float: left;
  padding-bottom: 20px;
}
.words-page div.source {
  font-style: italic;
  padding: 20px 0px 0px;
  text-align: right;
}

/* concerts */

#content .concerts, #content .words {
  display: block;
  width: 600px;
  margin: 0px auto;
}

.concerts h2 {
  font-weight: normal;
  margin-top: 50px;
}

.concerts .teaser {
  clear: both;
  font-weight: 100;
}

/* photos */ 

div.galleria-container {
  margin: 0px auto;
}