---
layout: none
---
{% if page.lang == 'en' %}
{% include header_nf.html %}
{% endif %}
{% if page.lang == 'ru' %}
{% include header_nf_ru.html %}
{% endif %}
<section id="content" class="words-page">
	{% if page.source %}
	<div class="source">{{ page.source }}</div>
	{% endif %}
	<h1 class="title">{{ page.title }}</h1>
	{% if page.subtitle %}
	<div class="subtitle">{{ page.subtitle }}</div>
	{% endif %}
	<div class="prose">{{ content }}</div>
</section>
{% if page.lang == 'ru' %}
<script>
$('body').addClass('words-list');
$('li.words a').addClass('active');
$('dl.words').show();
$('dl.words a[data-menu="{{ page.type }}"]').parent().addClass('active');
document.title = "Слова | Антон Батагов";
</script>
{% endif %}
{% if page.lang == 'en' %}
<script>
$('body').addClass('words-list');
$('li.words a').addClass('active');
document.title = "Words | Anton Batagov";
</script>
{% endif %}
{% include footer.html %}
